
@{
    ViewData["Title"] = "Controls";
}
    <h1>Controls</h1>
    <ul>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="TextBox" class="text-decoration-none">TextBox</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="TextArea" class="text-decoration-none">TextArea</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="CheckBox" class="text-decoration-none">CheckBox</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="Radio" class="text-decoration-none">Radio</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="DropDownList" class="text-decoration-none">DropDownList</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="ListBox" class="text-decoration-none">ListBox</a>
        </li>
    </ul>

