@model lab_2._4.Models.ValidationModel

@{
	ViewData["Title"] = "Text Area";
}	

@if(!ViewBag.Submit)
{
	<form method="POST" action="TextArea"> 
		<h2>TextArea</h2>
		<div>Text</div>
		@Html.TextAreaFor(model => model.data)
		@Html.ValidationMessageFor(model => model.data) 
		<div class = "filler"></div>           
        <button type="submit" class="btn btn-outline-secondary text-dark">Submit</button>
	</form>
}
else
{
	<form> 
		<h2>TextArea</h2>
		<div class = "main">
        <a><b>Text</b> @ViewBag.data</a>
		</div>
	</form>
}
@section scripts{ 
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


