
@{
    ViewData["Title"] = "Index";
}

<h2>Calc Service demonstartion</h2>
<ul>
    <li>
        <a asp-area="" asp-controller="CalcService" asp-action="PassUsingModel">Using Model Calc</a>
    </li>
    <li>
        <a asp-area="" asp-controller="CalcService" asp-action="PassUsingViewData">Using ViewData Calc</a>
    </li>
    <li>
        <a asp-area="" asp-controller="CalcService" asp-action="PassUsingViewBag">Using ViewBag Calc</a>
    </li>
    <li>
        <a asp-area="" asp-controller="CalcService" asp-action="AccesServiceDirectly">Using Service Injection Calc</a>
    </li>
</ul>

