
@{
    ViewData["Title"] = "Home";
}
    <h2>Mockups</h2>
    <ul>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="Quiz">QuizResult</a>
        </li>
    </ul>

