
@{
    ViewData["Title"] = "Home Page";
}
    <h1>Multi-staged forms</h1>
    <ul>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="PasswordReset" class="text-decoration-none">Password Reset</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Mockups" asp-action="SignUp" class="text-decoration-none">Sign Up</a>
        </li>
    </ul>

